<section class="login">
  <div class="container">
    <div class="row align-items-center vh-100">
      <div class="col-lg-5 mx-auto bg-white shadow-lg login-section" >
        <h2 class="mb-5"> نسيت كلمه المرور</h2>
        <div class="login-form  justify-content-center mx-auto my-sm-0 my-2">
          <form [formGroup]="forgetPassword" (ngSubmit)='onSubmit()'>
            
            <label>البريد الالكتروني</label>
            <div class="input-group mb-4  pl-3 pr-1">
              <div class="input-group-prepend ">
                <span class="input-group-text border-0 bg-transparent" id="basic-addon1"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="text" class="form-control border-0" formControlName="email" placeholder="البريد الالكتروني" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            
            <div class="submit"><input type="submit" class="dark-btn text-light px-5" value="استرجاع">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
