<h3 class="mb-4">الملف الشخصي</h3>
<section class="user-info">
    <div class="row">
        <div class="col-lg-6 mx-auto bg-white p-lg-5 py-5 px-3 rounded-section">
            <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="name" class="form-label">الاسم الاول</label>
                  <input type="text " class="form-control" id="name" aria-describedby="namehelp" formControlName="name">
                  <div
                    *ngIf="userProfile.controls['name'].invalid && (userProfile.controls['name'].dirty || userProfile.controls['name'].touched)">
                    <div id="namehelp" class="form-text text-danger" *ngIf="userProfile.controls['name'].errors?.required">هذا
                      الحقل مطلوب.</div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">الاسم الاخير</label>
                  <input type="text " class="form-control" id="lastname" aria-describedby="lastnamehelp" formControlName="lastname">
                  <div
                    *ngIf="userProfile.controls['name'].invalid && (userProfile.controls['name'].dirty || userProfile.controls['name'].touched)">
                    <div id="lastnamehelp" class="form-text text-danger"
                      *ngIf="userProfile.controls['lastname'].errors?.required">هذا الحقل مطلوب.</div>
                  </div>
              
                </div>
                <div class="mb-3">
                  <label for="age" class="form-label">العمر</label>
                  <input type="text " class="form-control" id="age" aria-describedby="agehelp" formControlName="age">
                  <div
                    *ngIf="userProfile.controls['name'].invalid && (userProfile.controls['name'].dirty || userProfile.controls['name'].touched)">
                    <div id="agehelp" class="form-text text-danger" *ngIf="!userProfile.controls['age'].errors?.required">هذا
                      الحقل مطلوب.</div>
                  </div>
              
                </div>
                <button type="submit" class="btn btn-primary">حفظ</button>
              </form>
              
        </div>
    </div>
</section>