.pi-angle-double-left:before {
    content: "\e92e";
}
.pi-angle-double-right:before{
    content: "\e92d";
}
.pi-angle-left:before {
    content: "\e932";
}
.pi-angle-right:before {
    content: "\e931";
}
.p-paginator .p-dropdown .p-dropdown-label {
    padding-right: 10px;
    padding-left: 0;
}
// .p-datatable .p-datatable-thead > tr > th,.p-datatable .p-datatable-thead > tr > td{
//     text-align: right;
// }