.orders-per-month,.last-users{
    border-radius: 10px;
}
.icon-1{
    color:#643697 !important;
    background: rgba(100, 54, 151, 0.3) !important;
}

.icon-2{
    color: #b79754 !important;
    background: rgba(183, 151, 84, 0.3) !important;
}

.icon-3{
    color: #228be6;
    background: rgba(34, 139, 230, 0.3);
}
.icon-4{
    color: #f0c64f;
    background: rgba(240, 198, 79, 0.3);
}
